<div *ngIf="appointmentsForUser">
  <h2>Appointments For User ID: {{id}}</h2>
</div>

<div *ngIf="appointmentsForUser === false">
  <h2>All Appointments</h2>
</div>

<ng2-smart-table
  [settings]="settings"
  [source]="appointments"
  (userRowSelect) = "rowClicked($event)">
</ng2-smart-table>


<div class="below-table">
    <nav>
        <a routerLink="/appointment-create-form">Create New Appointment</a>
        <div class = "information-text">
          <p>*Click row to see/edit/delete appointment details</p>
        </div>
      </nav>
</div>

